
// {{ .Table.Title }} represents a row from '{{ .Table.Name }}'.
type {{ .Table.Title }} struct {
	{{ .Conf.RootPackage }}.{{ .Table.Title }}
}

// new implements DTO.new
func ({{ .Table.Initials }} *{{ .Table.Title }}) new() DTO {
	return &{{ .Table.Title }}{}
}

// helper struct for common query operations.
type {{ .Table.Title }}Slice struct {
	data []*{{ .Table.Title }}
}

// append implements DTOSlice.append
func ({{ .Table.Initials }} *{{ .Table.Title }}Slice) append(d DTO) {
	{{ .Table.Initials }}.data = append({{ .Table.Initials }}.data, d.(*{{ .Table.Title }}))
}

